node_modules
npm-debug.log
.git
.gitignore
.gitlab-ci.yml
README.md
.env
.env.local
.env.development
.env.production
.vscode
.idea
*.log
coverage
.cache
dist
build
*.md
Dockerfile
docker-compose.yml
k8s
